.wrap {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--clr-default-100);

}

.filters {
    grid-area: filters;
}

.content {
    grid-area: content;
}