.wrap {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mainLayout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
        "filters content";

    width: 80vw;
    height: max-content;
    gap: 4rem;
}

.filters {
    grid-area: filters;
}

.content {
    grid-area: content;
}