@import "@/assets/fonts/MSR/stylesheet.css";
@import "scrollbar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollBehavior: 'smooth';
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14pt;
}

:root {
    --clr-default-100: rgb(246, 246, 246);
    --clr-default-120: rgba(239, 239, 239, 0.94);
    --clr-default-130: rgb(0, 111, 238);
    --clr-default-150: rgb(253, 253, 253);
    --clr-default-200: rgb(250, 250, 250);
    --clr-default-500: rgb(0, 0, 0);
    --clr-default-550: rgb(9, 121, 113);
}

html.dark {
    --clr-default-100: #16181E !important;
    --clr-default-120: #242844;
    --clr-default-130: #161a2c;
    --clr-default-150: #191c30 !important;
    --clr-default-200: #1f203c !important;
    --clr-default-500: #ffffff;
    --clr-default-550: #3a3e4b;
}