.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.form button {
    padding: 0.5rem 1.5rem;
}

.title {
    font-size: 24pt;
    font-weight: 600;
}