.main {
  width: 100%;
  height: auto;
  padding: 40px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.subtitle {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 40px;
  opacity: 0;
  transition: opacity 1s ease;
}

.fadeIn {
  opacity: 1;
}

.new_films {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start; 
  padding: 0 60px 0 0;
  position: relative;
  overflow: visible; 
}

.slideUp {
  opacity: 1;
  transform: translateY(0);
}

.image, .image_f {
  width: 100%; 
  height: 300px; 
  object-fit: cover; 
  border-radius: 20px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  transform-origin: center center; 
  backface-visibility: hidden; 
  will-change: transform; 
}

.image:hover, .image_f:hover {
  transform: scale(1.05);
  z-index: 2; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.2); 
}

.film_title {
  font-weight: 600;
  text-align: center;
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_film {
  flex: 0 0 auto;
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  position: relative; 
  overflow: visible; 
}

.button_next {
  position: absolute;
  right: 0;
  top: 39%;
  background-color: rgb(255, 255, 255);
  width: 50px;
  box-shadow: 0px 2px 10px rgba(0, 185, 174, 0.4);
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  font-weight: bold;
  color: black;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.next_button_image{
  width: 50px;
  height: 50px;
  align-items: center;
}

.container_new_films {
  margin-bottom: 50px;
  position: relative;
}

.best_films {
  position: relative;
}

.button_next:hover{
  transform: scale(1.06);
}

@media (max-width: 768px) {
  .new_films {
    gap: 10px;
  }
  
  .image, .image_f {
    width: 150px;
    height: 225px;
  }
  
  .card_film {
    width: 150px;
    height: 275px;
  }
  
  .film_title {
    width: 150px;
    font-size: 14px;
  }
}