/* Лого */
.logo {
    font-weight: 800;
    width: max-content;
    height: max-content;
    display: flex;
}

:global(.dark) .mainText {
    color: white;
}

.logo.small * {
    font-size: 25pt;
}

.logo.big * {
    font-size: 35pt;
}

.mainText {
    color: black;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}