.main {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.places__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}

.places__item {
  width: 100%;
}

.places__list_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Стили для ссылки-карточки  */
.cardLink {
  text-decoration: none; 
  color: inherit; 
  display: block; 
  transition: transform 0.2s ease-in-out; 
}

.cardLink:hover {
  transform: scale(1.03); 
}

.card {
    border-radius: 20px; 
    overflow: hidden; 
}

.card__image {
  width: 100%; 
  height: auto;
  display: block; 
}

.card__description {
  padding: 10px;
}

.card__title {
  margin: 0;
  font-size: 18px;
}

@media (max-width: 900px) {
  .places__list {
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в строке */
  }
}

@media (max-width: 600px) {
  .places__list {
    grid-template-columns: repeat(1, 1fr); /* 1 карточка в строке */
  }
}