.bgWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    overflow: hidden;
    opacity: 0.8;
    background: var(--bg-gradient);
}

.circle1 {
    position: absolute;
    left: 45vw;
    right: 0;
    bottom: 0;
    top: 4vh;
    width: 40vw;
    height: 40vw;
    filter: blur(16px);
    border-radius: 9999px;
    opacity: 0.35;
    background: var(--bg-circle1);
    z-index: -10;
}

.circle2 {
    position: absolute;
    left: -12vw;
    right: 0;
    bottom: 0;
    top: 65vh;
    width: 40vw;
    height: 40vw;
    filter: blur(16px);
    border-radius: 9999px;
    opacity: 0.35;
    background: var(--bg-circle2);
    z-index: -10;
}